.blog-section {
    padding: 130px 0;
}

.blog-section a {
    text-decoration: none;
}

.blog-section .center-container {
    width: 1110px;
    margin: auto;
    position: relative;
}

/*LEFT DIV*/

.left-div {
    width: 730px;
    display: inline-block;
}

.blog {
    display: inline-block;
    margin-bottom: 52px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 3px 16px rgba(115, 115, 115, 0.1);
}

.blog-image {
    position: relative;
}

.blog-image img {
    width: 730px;
    height: 365px;
    display: block;
    object-fit: cover;
}

.blog-date {
    background-color: #ff4a53;
    color: white;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    left: 40px;
    bottom: -20px;
}

.blog-date h3 {
    font-size: 30px;
}

.blog-info {
    width: 665px;
    padding: 60px 30px 30px 30px;
}

.blog-info .blog-title {
    color: black;
    text-decoration: none;
}

.blog-info .blog-title:hover {
    color: #ff4a53;
}

.blog-info .blog-title h2 {
    margin-bottom: 15px;
}

.blog-info p {
    color: #7a838b;
    line-height: 28px;
    margin-bottom: 30px;
}

.blog-info-link * {
    color: rgb(101, 99, 99);
}

.blog-info-link div {
    display: inline-block;
    margin: 0 8px;
}

.blog-info-link a {
    font-size: 14px;
    cursor: pointer;
}

.blog-info-link i {
    margin-right: 5px;
    font-size: 13px;
}

.blog-info-link a:hover,
.blog-info-link a:hover i {
    color: #ff4a53;
}

.blog-pagination-div {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: rgb(134, 133, 133);
    font-size: 14px;
    float: left;
    padding: 14px 18px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid rgb(240, 233, 255);
}

.pagination a.active {
    background-color: #fbf9ff;
}

.pagination a:hover {
    color: #ff4a53;
    background-color: white;
}

/*RIGHT DIV*/

.right-div {
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
}

.right-sidebar {
    background-color: rgb(249, 246, 255);
    padding: 28px;
    margin-bottom: 30px;
}

.right-sidebar h4 {
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(240, 233, 255);
}

.blog-search {
    background-color: rgb(249, 246, 255);
    padding: 30px;
    margin-bottom: 30px;
}

.blog-search .search-box {
    display: inline-block;
}

.blog-search .search-box input {
    width: 221.5px;
    height: 36px;
    padding: 6px 12px 6px 20px;
    border: 1px solid rgb(227, 225, 225);
}

.blog-search .search-box .search-icon-button {
    padding: 4px 10px;
    line-height: 40px;
    margin-left: -5px;
    border: 1px solid rgb(227, 225, 225);
    border-left: none;
    background-color: white;
    margin-bottom: 16px;
}

.blog-search .search-box .search-icon-button i {
    width: 14px;
    height: 14px;
    color: #999;
}

.blog-search button[type=submit] {
    padding: 14px 44px;
    background-color: #1ec6b5;
    color: white;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blog-search button[type=submit]:hover {
    background-color: #ff4a53;
}

.category ul li {
    padding: 13px 0;
    margin: 1px;
    border-bottom: 1px solid rgb(240, 233, 255);
}

.category ul li a {
    color: #7a838b;
}

.category ul li a:hover {
    color: #ff4a53;
}

.post {
    margin-top: 20px;
}

.post img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.post-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 16px;
}

.post-info a h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: black;
}

.post-info a h3:hover {
    color: #ff4a53;
}

.post-info p {
    font-size: 14px;
    color: #999;
}

.tag-clouds li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 15px
}

.tag-clouds li a {
    background-color: white;
    color: rgb(102, 100, 100);
    font-size: 13px;
    padding: 4px 20px;
    border: 1px solid rgb(227, 225, 225);
    transition: all 0.3s ease; 
}

.tag-clouds li a:hover {
    background-color: #ff4a53;
    color: white;
}

.instagram-feeds ul li {
    display: inline-block;
    padding: 0 3px;
    margin-bottom: 15px;
}

.instagram-feeds ul img{
    width: 88px;
    height: 88px;
    object-fit: cover;
}

.news-letter .input-email-box {
    margin-bottom: 15px;
}

.news-letter .input-email-box input {
    display: block;
    width: 260px;
    height: 36px;
    padding: 6px 12px 6px 20px;
    border: 1px solid rgb(227, 225, 225);
}

.news-letter button[type=submit] {
    background-color: #1ec6b5;
    color: white;
    font-size: 14px;
    padding: 14px 44px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 21px;
}

.news-letter button[type=submit]:hover {
    background-color: #ff4a53;
}