footer {
    background-color: #040E27;
}

.footer-top { 
    font-size: 14px;
    padding-top: 115px;
    padding-bottom: 129px;
}

footer .center-container {
    width: 1240px;
    margin: auto;
}

.footer-top h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 45px;
}

.footer-top li {
    line-height: 36px;
    list-style-type: none;
}

.footer-top a {
    color: #aab1b7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-top a:hover {
    color: #ff4a53;
}

.first-col,
.second-col,
.third-col,
.fourth-col {
    display: inline-block;
    vertical-align: text-top;
    padding: 0 10px;
} 

.first-col {
    width: 345px;
    margin-left: 40px;
}

.first-col .logo-image img {
    width: 140px;
    height: 40px;
    object-fit: cover;
    margin-bottom: 45px;
}

.first-col p {
    line-height: 26px;
    color: #aab1b7;
}

.first-col .social-links {
    margin-top: 45px;
}

.first-col .social-links li {
    display: inline-block;
    margin: 0 7px;
    font-size: 20px;
}

.second-col {
    width: 180px;
}

.third-col {
    width: 275px;
}

.third-col li {
    display: inline-block;
    width: 127px;
}

.fourth-col {
    width: 275px;
}

.fourth-col a img {
    width: 79px;
    height: 75px;
    border-radius: 5px;
    margin: 5px;
    object-fit: cover;
}

.footer-bottom .center-container {
    width: 1100px;
    margin: auto;
    text-align: center;
    padding: 27px 0;
    border-top: 1px solid #aab1b7;
}

.footer-bottom p {
    color: #aab1b7;
    font-size: 14px;
}

.footer-bottom .colorlib-link {
    color: #ff4a53;
}

