.review-area {
    padding-top: 100px;
    padding-bottom: 118px;
    background-color: #F7FAFD;
}

.review-area .center-container {
    width: 730px;
    margin: auto;
    text-align: center;
}

.review-area .center-container img {
    width: 106px;
    border-radius: 50%;
}

.review-text {
    font-size: 18px;
    line-height: 32px;
    margin-top: 34px;
    margin-bottom: 10px;
}

.review-author {
    font-size: 16px;
    color: #7a838b;
    margin-bottom: 8px;
}

.controls{
    margin-top: 24px;
}

.controls .dot {
    background-color: #7a838b;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls .dot.active {
    background-color: #ff4a53;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}